{% extends "layout.html" %}

{% block title %}Games{% endblock %}

{% block main %}
    <div class="Title">
        <h1>Games</h1>
    </div>
    <div>
        <form action="/games" method="POST">
            <input type="submit" value="Hello World" name="game">
            <input type="submit" value="Breakout" name="game">
            <input type="submit" value="Platformer" name="game">
            <input type="submit" value="Puzzle" name="game">
            <input type="submit" value="Stress" name="game">
        </form>
    </div>
{% endblock %}