{% extends "layout.html" %}

{% block title %}Hello!{% endblock %}

{% block main %}
        <script src="/static/engine/engineDebug.js"></script>
        <script src="/static/engine/engineUtilities.js"></script>
        <script src="/static/engine/engineSettings.js"></script>
        <script src="/static/engine/engineObject.js"></script>
        <script src=/static/engine/engineDraw.js></script>
        <script src=/static/engine/engineInput.js></script>
        <script src=/static/engine/engineAudio.js></script>
        <script src=/static/engine/engineTileLayer.js></script>
        <script src=/static/engine/engineParticles.js></script>
        <script src=/static/engine/engineMedals.js></script>
        <script src=/static/engine/engineWebGL.js></script>
        <script src=/static/engine/engine.js></script>
        <script src="/static/game.js"></script>
{% endblock %}        
        