<html><head><meta charset=utf-8>
<meta name=viewport content=width=device-width,height=device-height,initial-scale=1,maximum-scale=1>
<meta name=apple-mobile-web-app-capable content=yes>
<meta name=mobile-web-app-capable content=yes>
<link rel=icon type=image/png href=/static/favicon.png>
</head><body>

<script src=/static/engine/engine.all.js></script>
<script src=/static/platformer/gameObjects.js></script>
<script src=/static/platformer/gamePlayer.js></script>
<script src=/static/platformer/gameEffects.js></script>
<script src=/static/platformer/gameLevel.js></script>
<script src=/static/platformer/game.js></script>